# Eclipse
.classpath
.project
.settings/

# Intellij
!testcertificate.crt
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
target/

# Vagrant
.vagrant
*.retry

# custom
*.crt

dependency-reduced-pom.xml
testFile.txt
